body,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

body {
  font-family: Georgia, serif;
  color: #252525;
  background: #e7e4d8;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color:#252525;
}

/*Header*/

.header {
  background: #d6d3c8;
  padding: 20px 0;
}

.header-menu h1 {
  color: #252525;
  padding: 10px 10px;
  font-family: Georgia, serif;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.header-menu li:first-child a {
  padding-left: 0px;
}


@media (max-width: 739px) {
  .header-menu ul {
    margin-top: 10px;
  }
}


/* Produtos */
.produtos {
  margin: 0 auto;
}
.produtos h1 {
  font-size: 2.25em;
  font-weight: bold;
}

.search {
  color: #e7e4d8;
  font-size: 1.125em;
  font-family: Courier, monospace;
  border-radius: 4px;
  max-width: 450px;
  max-height: 40px;
}
label {
  color: #252525;
  font-family: 'Courier New', Courier, monospace;
}
.produtos-item {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  position: relative;
}

.produtos-item a {
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -200px;
  position: absolute;
  right: 20px;
  top: 10px;
  
}


.produtos-item ul {
  padding: 0 20px;
}

.produtos-item li {
  padding: 10px 0;
  font-size: 1.125em;
  font-family: Courier, monospace;
  border-bottom: 1px solid #e7e4d8;
}

.produtos-item li:last-child {
  border: none;
}

.label{
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}
.produtos-item span{
  margin-right: 5px;
  display: inline-block;
}

/*Footer*/

.footer {
  background: #d6d3c8;
  padding: 60px 0;
  line-height: 1.4em;
}
